@model gestionabscence.Models.Subject

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Subject</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubjectName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoursNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoursNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubjectType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SubjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
